*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin:0;
    line-height: 1.5;
    background-color: black;
}
/* NavBar */
.show{
    display: flex !important;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;   
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li > a{
    display: block;
    position: relative;
    padding: 15px 10px 5px 15px;
    text-decoration: none;
    color: white;
}
nav ul li .link::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.50s ease;
    background-color: green;
}
nav ul li .link:hover::before{
    transform: scaleX(1);
}

nav .menu{
    position: absolute;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background-color: white;
    display: none;
}
nav .menu a{
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav .menu a:hover {
    background-color: green;
    color: white;
}
/* Vista en moviles */
nav .mobile {
    display: none;
    width: 100%;
}
nav .mobile .header{
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
}
nav .mobile .header a{
 color: green;
 text-decoration: none;
 display: inline-flex;
 padding: 10px;
}
nav .mobile .header #bmenu{
    background-color: transparent;
   border: none;
   cursor:pointer;
   color: green;
   margin-left: 15px;
   }
nav .mobile .links{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 200;
}
nav .mobile .links a{
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
nav .mobile .links a:hover{
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: green;
}
nav .more{
    display: none;
}
@media screen and (max-width:980px){
    nav .link-hide{
        display:none;
    }
    nav .more {
        display: flex;
    }
}
@media screen and (max-width:602px){
    nav {
        width: 100%;
        padding: 0;
    }
nav .mobile{
    display: block;
}
nav ul{
    display: none;
}
    }
    


.logo {
    color: red;
    position: relative;
}